<!DOCTYPE html>
<html>
  <head>
    <title>Uncrustables</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="wrapper">
    
  </div>
  <footer class="footer"></footer>
  
    
    <% if user_signed_in? %>
      <%= link_to 'J.M.Smuckers', destroy_user_session_path, method: :delete, class: 'nav_link' %>
     <% else %>
    <%= link_to 'J.M.Smuckers', new_user_session_path, class: 'nav_link' %>
      <% end %>
  </body>
</html>
